<div id="header">
  <div id="header-wrapper">
    <a href="/">
      <div id="branding">
        <img id="logo" alt="logo" src="{{ site.logo | prepend: site.imagesurl }}">
        <div id="site-title">{{site.title}}</div>
      </div>
    </a>
    <div id="nav">
      {% assign links = site.html_pages | where: "menu", "true" | sort: "order" %}
      {% for link in links %}
      {% if link.url == page.url %}
      <a class="active" href="{{link.url}}">{{ link.title }}</a>
      {% else %}
      <a href="{{link.url}}">{{ link.title }}</a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
