#footer{
  background: #000;

  .menu{
    padding-top: 10px;
    margin-left: 30px;

    a{
        color: white;
        padding: 5px 15px;
        margin: 0;
        text-decoration: none;
        text-transform: uppercase;

        &:hover{
          text-decoration: underline;
          color: #00aeef;
        }
    }
  }
}

#footer, #push{
  height: $footer-height; //sticky footer
}
