#header{
  background: #fff;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
  position:fixed;
  width: 100%;
  padding: 5px;
  z-index: 5;
}

#header-wrapper{
  position:relative;
}

#nav{
  text-align: right;
  margin-right:20px;

  a{
    padding: 25px 15px;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16pt;
    text-decoration: none;
    border:1px solid #fff;
    border-radius: 5px;

    &:hover{

      /*background: repeating-linear-gradient(
        45deg,
        rgba(0,174,239,0.2),
        rgba(0,174,239,0.2) 5px,
        rgba(0,174,239,0.1) 5px,
        rgba(0,174,239,0.1) 10px
      );*/

      border:1px dashed rgb(0,174,239);
      background: rgba(0,174,239,0.1);

      color: #000;
      text-decoration: none;
    }

    &:active{
      color:#000;
      background:#eee;
    }
  }
}

#branding{
  background: #fff;
  height: 100%;
  text-align: left;
  position: absolute;
  left: 20px;

  div{
    display:inline-block;
    vertical-align: middle;
  }
}

#logo{
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: $logo;
  height: 100%;
  width: 150px;
}

#site-title{
  font-family: "Open Sans", sans-serif;
  font-size: 20pt;
  font-weight: 300;
  text-transform: uppercase;
  color:black;
}

/* Small */
@include media-query($on-laptop) {
  #branding{
    height: 100px;
    position: relative;
    left:0;

    div{
      display: block;
    }

    #logo{
      margin: auto;
      height: 50px;
    }

    #site-title{
      font-size: 15pt;
      text-align: center;
    }
  }

  #nav{
    text-align: center;
  }

  #nav a{
    font-size: 12pt;
    margin: 0;
    padding: 0px 10px;
  }
}
