.page-content{
  width:100%;
}

#image{
  height: 500px;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.page-title{
  text-align: center;
  margin: 10px 0px;
}
