body{
  width: 100%;
  height: 100%;
  background-position: 50% 70%;
  background-size: cover;
  overflow: auto;
  margin: 0;
  background-attachment: fixed;
}

.splash-col{
  width: 450px;
  margin: auto;
  padding-top: 20px;
}

#signup-box{
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  background: rgba(255,255,255,0.9);
  margin-top: 100px;
}

.photo-cred{
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 5px;
  background: #000;
  color: #fff;
  margin: 0;
}

#splash-logo{
  height: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.splash-h2{
  text-align: center;
  margin: 0px;
  font-size: 20pt;
  color: black;
}

.continue-link{
  color: white;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  position: fixed;
  padding: 20px;
  bottom: 0;
  right: 0;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.8);
}

.continue-link:hover{
  background: rgb(150,150,150);
  background: rgba(150,150,150,0.8);
}

.continue{
  display: block;
  color: #555;
  font-size: 11pt;
  text-align: center;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}

.splash-text{
  text-align: center;
  text-transform: uppercase;
  font-size: 15pt;
  margin: 0;
}
